aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
alembic==1.18.4
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
APScheduler==3.11.2
attrs==26.1.0
bcrypt==3.2.2
billiard==4.2.4
celery==5.6.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==48.0.0
dkimpy==1.1.8
dlib==20.0.1
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
emails==1.1.1
et_xmlfile==2.0.0
face-recognition==1.3.0
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models@e67de717267507d1e9246de95692eb8be736ab61
fastapi==0.136.1
frozenlist==1.8.0
greenlet==3.5.0
h11==0.16.0
idna==3.14
joblib==1.5.3
kombu==5.6.2
Mako==1.3.12
MarkupSafe==3.0.3
multidict==6.7.1
numpy==2.4.4
opencv-contrib-python-headless==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
packaging==26.2
passlib==1.7.4
pillow==12.2.0
prompt_toolkit==3.0.52
propcache==0.5.2
psycopg2-binary==2.9.12
puremagic==2.2.0
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.28
redis==7.4.0
reportlab==4.5.0
requests==2.34.2
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
SQLAlchemy==2.0.49
starlette==1.0.0
threadpoolctl==3.6.0
twilio==9.10.9
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
uvicorn==0.46.0
vine==5.1.0
wcwidth==0.7.0
yarl==1.23.0
Add-Content requirements.txt "`nface_recognition_models@ git+https://github.com/ageitgey/face_recognition_models"
face_recognition_models@ git+https://github.com/ageitgey/face_recognition_models
